# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# STS/Eclipse
.classpath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS
.DS_Store
Thumbs.db